{% extends "includes/base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Password reset successful' %}{% endblock %}

{% block content %}

<div class="whiteboard">
                        
    <div class="title white">
        <div>
            <h1>{% trans 'Password reset successful' %}</h1>
        </div>
    </div> 
    
    <div class="description cms">
        <p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
    </div><!-- /description -->
</div>

{% endblock %}
