{% extends "includes/base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}

<div class="whiteboard">
                        
    <div class="title white">
        <div>
            <h1>{% trans 'Password reset complete' %}</h1>
        </div>
    </div> 
    
    <div class="description cms">
        <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
        <p><a href="/login">{% trans 'Log in' %}</a></p>
    </div><!-- /description -->
</div>

{% endblock %}
