{% extends "includes/base.html" %}
{% load i18n static %}
{% load url from future %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}


{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}

<div class="whiteboard">
                        
    <div class="title white">
        <div>
            <h1>{% trans 'Password change' %}</h1>
        </div>
    </div> 
    
    {% if form.errors %}
    <div class="message red">
        <div class="push">
        <h3>{% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</h3>
        <p>
        Old Password: {{ form.old_password.errors }}
        New Password: {{ form.new_password1.errors }}
        New Password2: {{ form.new_password2.errors }}
        </p>
        </div>
    </div>
    {% endif %}
    
    <div class="description cms">
        <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
        
        <form action="" method="post">{% csrf_token %}
        <div>
        
        <fieldset class="module aligned wide">

        <div class="form-row">
            <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>{{ form.old_password }}
        </div>

        <div class="form-row">
            <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>{{ form.new_password1 }}
        </div>

        <div class="form-row">
            <label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label>{{ form.new_password2 }}
        </div>

        </fieldset>

        <div class="submit-row">
            <input type="submit" value="{% trans 'Change my password' %}" class="default" />
        </div>

        <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
        </div>
        </form>
        
    </div><!-- /description -->
</div>

{% endblock %}
