{% extends "includes/base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

<div class="whiteboard">
                        
    <div class="title white">
        <div>
            <h1>{% trans "Password reset" %}</h1>
        </div>
    </div> 
    
    {% if form.errors %}
    <div class="message red">
        <div class="push">
        <h3>{% trans "Please correct the following errors" %}</h3>
        <p>
        {{ form.email.errors }}
        </p>
        </div>
    </div>
    {% endif %}
    
    <div class="description cms">
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
        
        <form action="" method="post">{% csrf_token %}
        
        
        <div class="form_post">
            <div class="fieldset_set">
            <fieldset class="first last">
                <span class="required" id="labelid_email">Required</span>
                <label for="id_email">{% trans 'E-mail address:' %}</label>
                                                
                <div class="field mod">
                    <div class="input_wrap">
                        {{ form.email }}
                    </div>
                </div>
            </fieldset>
            </div>
            
            <div class="button_set mod">
                <input type="submit" value="{% trans 'Reset my password' %}" />
            </div>
        </div>        
        
        </form>

    </div><!-- /description -->
</div>

{% endblock %}
