{% extends "includes/base.html" %}
{% load i18n %}
{% load url from future %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %}{% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}


{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}

<div class="whiteboard">
                        
    <div class="title white">
        <div>
            <h1>{% trans 'Password change successful' %}</h1>
        </div>
    </div> 
    
    <div class="description cms">
        <p>{% trans 'Your password was changed.' %}</p>
    </div><!-- /description -->
</div>

{% endblock %}
