{% extends "includes/base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}

<div class="whiteboard">
                        
    <div class="title white">
        <div>
            <h1>{% trans 'Enter new password' %}</h1>
        </div>
    </div> 
    
    {% if form.errors %}
    <div class="message red">
        <div class="push">
        <h3>{% trans "Please fix the following errors" %}</h3>
        <p>
        {{ form.new_password1.errors }}
        {{ form.new_password2.errors }}
        </p>
        </div>
    </div>
    {% endif %}
    
    <div class="description cms">
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        
        <form action="" method="post">{% csrf_token %}
        
              
        <div class="form_post">
            
            <div class="fieldset_set">
                <fieldset class="first">
                    <span class="required" id="labelid_new_password1">Required</span>
                    <label class="label" for="id_new_password1">{% trans 'New password:' %}</label>
                    
                    <div class="field mod">
                        <div class="input_wrap">
                            {{ form.new_password1 }}
                        </div>
                    </div>
                </fieldset>
                
                <fieldset class="last">
                    <span class="required" id="labelid_new_password2">Required</span>
                    <label class="label" for="id_new_password2">{% trans 'Confirm password:' %}</label>
                    
                    <div class="field mod">
                        <div class="input_wrap">
                            {{ form.new_password2 }}
                        </div>
                    </div>
                </fieldset>
            </div>
            
            <div class="button_set mod">
                <input type="submit" value="{% trans 'Change my password' %}" />
            </div>
            
        </div>
        
        </form>

    </div><!-- /description -->
</div>

{% else %}

<div class="whiteboard">
                        
    <div class="title white">
        <div>
            <h1>{% trans 'Password reset unsuccessful' %}</h1>
        </div>
    </div> 
    
    <div class="description cms">
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    </div><!-- /description -->
</div>

{% endif %}

{% endblock %}
