{% extends "includes/base.html" %}
{% load i18n %}

{% block title %}{% trans "Control Panel" %}{% endblock %}

{% block content %}
                        <div class="whiteboard">
                        
                            <div class="title white">
                                <div>
                                    <h1>Jobs</h1>
                                </div>
                            </div>  
                            
                                                                          
                            <div class="description cms">
								
								{% if pending_jobs %}
								
								<table>
                                    <thead>
                                        <tr>
                                            <th>Job Title</th>
                                            <th>Date Posted</th>
                                            <th>Status</th>
											<th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										{% for job in pending_jobs %}
                                        <tr>
                                            <td><a href="/jobs/view/{{ job.id }}">{{ job.job_title }}</a></td>
                                            <td>{{ job.date_posted|date:"d/M/Y" }}</td>
                                            <td>{{ job.approved }}</td>
											<td><a href="/jobs/approve/{{ job.id }}">Approve</a></td>
                                        </tr>
										{% endfor %}
                                    </tbody>
								</table>
								
								{% else %}
								There are currently no pending jobs
								{% endif %}
								
                            </div><!-- /description -->
                
                        </div>
{% endblock %}
