{% extends "includes/base.html" %}
{% load i18n %}

{% block title %}{% trans "Subscriber List" %}{% endblock %}

{% block content %}
                        <div class="whiteboard">
                        
                            <div class="title white">
                                <div>
                                    <h1>Subscribers</h1>
                                </div>
                            </div>  
                            
                                                                          
                            <div class="description cms">
								
								{% if subscribers %}
								
								<table>
                                    <thead>
                                        <tr>
                                            <th>Email</th>
                                            <th>Active?</th>
											<th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										{% for subscriber in subscribers %}
                                        <tr>
                                            <td>{{ subscriber.subscriber_email }}</td>
                                            <td>Yes</td>
											<td><a href="/staff/subscribers/?action=delete&sub_id={{subscriber.id}}">Delete</a></td>
                                        </tr>
										{% endfor %}
                                    </tbody>
								</table>
								
								{% else %}
								There are currently no subscribers.
								{% endif %}
								
                            </div><!-- /description -->
                
                        </div>
{% endblock %}
