<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_desc %}Tech jobs and resumes posted daily in East Africa. Offers FREE job posting, resume database, custom data feeds, daily job alerts and more.{% endblock %}">
    <meta name="keywords" content="tech jobs in kenya, tech jobs in tanzania, tech jobs in uganda, tech jobs in east africa, it jobs, jobs in east africa, java jobs, python jobs, ruby jobs">
    <meta name="author" content="CandidOak Concepts">
    <meta name="google-site-verification" content="aVyFjpX4vhT6VwJmsmvId_RGfKcn8gRoib3KWaVR9Dg" />
    
    <title>{% block title %}Home{% endblock %} | TechJobsBistro</title>
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png">
    
    <!-- CSS Styles-->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/general.css">
    
    <!-- JS Scripts --> 
    <script src="{{ STATIC_URL }}js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.autocomplete.pack.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.form.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jcookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.bootstrap.confirm.popover.js" type="text/javascript"></script>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37133935-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
	
	<script type="text/javascript">
    jQuery.noConflict();
    jQuery(document).ready(function () {
        
        jQuery('.validation').blur(function () {
            if (jQuery(this).valid()) {
                var nm = jQuery(this).attr("name");
                jQuery('#label' + nm).removeClass('no');
                jQuery('#label' + nm).addClass('yes');
            }
        }); 
        
        var skills = jQuery(".skills").children("li").length;
        var visible = skills - jQuery(".skills").children("li").children("div").children(".hidden").length;
        var maxSkills = 10;
        var selected = skills - 3;
        
        jQuery(".hidden").parent().parent().hide();
        jQuery("#addskill").click(function () {
            visible++;
            if (skills == visible) {
                jQuery(this).fadeOut();
            }
            if (skills >= visible) {
                jQuery(".skills #skill" + visible).removeClass("hidden");
                jQuery(".skills #skill" + visible).parent().parent().show();
            }
            return false;
        }); 
        
        jQuery("#id_job_deadline").datepicker({
            dateFormat:'yy-mm-dd',
			changeMonth: true,
            changeYear: true,
            onSelect:function (dateText, inst) {
                jQuery('#labelexpdate').removeClass('yes').removeClass('no').addClass('yes')
            }
        }); 
        
        // Add a popup to anchor tags to confirm action
        jQuery('a.confirm').confirmDialog({
            message: '<strong>Do you really want to delete this entry</strong>',
            cancelButton: 'Cancel'
        });

        
        jQuery("input[name=anon]").click(function () {
            if (jQuery("input[name=anon]").attr("checked") && jQuery("input[name=company_name_value]").val() != "Anonymous") {
                jQuery("#companyName").val('Anonymous');
                jQuery("#companyName").addClass("disabled");
                jQuery("#companyName").attr("disabled", true);
                jQuery("#companyName").css("color", '#000');
                jQuery('#labelcompany_name_value').removeClass('yes').removeClass('no').addClass('yes');
                jQuery("input[name=anon]").attr("checked", true);
            } else {
                jQuery("#companyName").val('e.g. CandidOak Ltd.');
                jQuery("#companyName").removeClass("disabled");
                jQuery("#companyName").attr("disabled", false);
                jQuery("#companyName").css("color", '#CCC');
                jQuery('#labelcompany_name_value').removeClass('yes').removeClass('no').addClass('no');
                jQuery("input[name=anon]").attr("checked", false);
            }
        }); 
        
        jQuery("input[name=noexpire]").click(function () {
            if (jQuery("input[name=noexpire]").attr("checked") && jQuery("#date").val() != "No expiry date") {
                jQuery("#date").val('No expiry date');
                jQuery("#date").addClass("disabled");
                jQuery("#date").attr("disabled", true);
                jQuery('#labelexpdate').removeClass('yes').removeClass('no').addClass('yes');
                jQuery("input[name=noexpire]").attr("checked", true);
            } else {
                jQuery("#date").val('yyyy/mm/dd');
                jQuery("#date").removeClass("disabled");
                jQuery("#date").attr("disabled", false);
                jQuery('#labelexpdate').removeClass('yes').removeClass('no').addClass('no');
                jQuery("input[name=noexpire]").attr("checked", false);
            }
        });
        
    });
    </script>
</head>

<body>

    <div class="container-fluid">
        <div class="span1"></div>
        
        <div class="span10">
    
            <!-- HEADER SECTION-->
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid header">
                        <div class="span4 logo">
                            <a href="/"><img src="{{ STATIC_URL }}images/logo.png" alt="TechJobsBistro logo" height="70" /></a>
                        </div>
                        
                        <div class="span4 offset4 tagline">
							<!--<span><h3>Tech Jobs Bistro Portal</h3><br/>-->
							{% if user.is_authenticated %}
							
							Welcome, {{ user.username }}. 
							
								{% if user.is_staff %}
									<a href="/staff/home">Control Panel</a> | <a href="/logout">Logout</a>
								{% else %}
									<a href="/user/home">Manage Listings</a> | <a href="/logout">Logout</a>
								{% endif %}
														
							{% else %}
							
							To post a job, <a href="/login"><strong>login</strong></a>
                             or <a href="/signup"><strong>create an account</strong></a>
                             </span>
							 
							{% endif %}
							
							<br/><br/>
							<div class="site_search">
								<form role="search" method="get" action="/jobs/search/">
									<span>
										<input  type="text" 
												onblur="if (this.value == '') {this.value = 'Search by keyword';}" 
												onfocus="if (this.value == 'Search by keyword') {this.value = '';}" 
												value="Search by keyword" 
												id="search_box" 
												name="s" 
												autocompletefn="off" 
												class="ac_input">
										<button class="icon icon_search" type="submit" name="submit"></button>
									</span>
								</form>
							</div>
                        
                        </div>
                    </div>
                    
                    <!-- Menu -->
                    <div class="row-fluid menu">
                        <div class="span12 category_menu black">
                            <ul>
                                <li class="cat-item-all current-cat">
                                    <a href="/jobs">All Jobs</a>
                                </li>
                                <li class="cat-item-5 ">
                                    <a href="/jobs/alert">Job Alerts</a>
                                </li>
                                <li class="cat-item-4 ">
                                    <a href="/contact">Contact Us</a>
                                </li>
                                <li class="rss">
                                    <a href="/feeds/jobs/latest/"><img src="{{ STATIC_URL }}images/icon.rss.png"></a>
                                </li>
                            </ul>
                        </div>
                    </div><!-- /Menu -->
                </div>
                
                
            </div><!-- /HEADER SECTION-->
            
            <!-- CONTENT SECTION-->
            <div class="row-fluid">
                
                <!-- BODY CONTENT -->
                <div class="span9">
                    <div class="focus">
                        {% block content %}{% endblock %}
                    </div><!-- /focus -->
                </div>
                
                {% block sidebar %}
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
					        {% include 'includes/sidebar_admin.html' %}
					    {% else %}
					        {% include 'includes/sidebar_user.html' %}
					    {% endif %}
                    {% else %}
				        {% include 'includes/sidebar.html' %}
				    {% endif %}
				{% endblock %}
                
            </div><!-- /CONTENT SECTION-->
            
			{% block footer %}
            <!-- FOOTER SECTION-->
            <div class="row-fluid footer">
                <div class="span12">
                
                    <div class="span6 copyright">
                        <p>&copy; Copyright {% now "Y" %} TechJobsBistro. All rights reserved.</p>
                    </div>
                    
                    <div class="span6 menu">
                        <ul>
                            <li><a href="/jobs">Home</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/signup">Signup</a></li>
                            <li><a href="/terms_and_conditions">Terms and Conditions</a></li>
                            <li><a href="/contact">Contact Us</a></li>         
                        </ul>
                    </div>
                    
                    <div class="seo">
                        <p>TechJobsBistro.com is an Information Technology job site in East Africa, connecting job seekers with employers looking to hire. Every day, hundreds of new job vacancies are listed from the region's top employers.</p>
                    </div>
 
                </div>
            </div><!-- /FOOTER SECTION-->
			{% endblock %}
        
        </div>
        
        <div class="span1"></div>
    </div><!-- /Container-->
<script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/tiny_mce.js"></script>


<script type="text/javascript">
	tinyMCE.init({
			mode : "textareas",
			theme_advanced_path : false,
			theme_advanced_buttons1 : "bold,italic,|,bullist,numlist,",
	});
</script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>

</html>
