{% load country_jobs %}
{% load i18n %}
{% load url from future %}

<!-- SIDEBAR CONTENT -->
                <div class="span3 sidebar">
                    <ul>
						<li class="cell action">
                            <p>Post a job FREE for 30 days</p>
                            <a class="button blue xlarge" href="/user/submit_job">
                                <span>Post a job</span>
                            </a>
                        </li>
					
                        <li><h2 class="widgettitle">My Control Panel</h2></li>
                        
                        <li>
                            <ul class="tablets">
                                <li><a href="/user/submit_job">Post a job</a></li>
                                <li><a href="#">Review job listings</a></li>
                                <li><a href="/staff/subscribers">Subscribers</a></li>
                                <li><a href="{% url 'password_change' %}" title="Change password">Change password</a></li>
                            </ul>
                        </li>
                        
                        <!--<li class="quicksearch">
                            <form role="search" method="get" action="#">
                                <span>
                                    <input  type="text" 
                                            onblur="if (this.value == '') {this.value = 'Search by keyword';}" 
                                            onfocus="if (this.value == 'Search by keyword') {this.value = '';}" 
                                            value="Search by keyword" 
                                            id="search_box" 
                                            name="s" 
                                            autocompletefn="off" 
                                            class="ac_input">
                                    <button class="icon icon_search" type="submit" name="submit"></button>
                                </span>
                            </form>
                        </li>-->
                        
                        <li><h2 class="widgettitle">Job count per Country</h2></li>
                        
                        {% show_country_job_count %}
                                                      
                        <li class="about">
                            <h2 class="widgettitle">About Us</h2>
                            TechJobsBistro.com is an Information Technology job site in East Africa, connecting job seekers with employers looking to hire. Every day, hundreds of new job vacancies are listed from the region's top employers.                 
                        </li>
                        
                        <li class="custom">
                            <h2 class="widgettitle">Daily Job Alerts</h2>
                            Get notified when a new position is available. Click <a href="/jobs/alert/">here</a>                      
                        </li>
                        
                    </ul>
                </div>
