{% load i18n %}{% load url from future %}{% autoescape off %}
<head>

<style type="text/css">
    body {
        font-family: Georgia, "Times New Roman", Times, serif;
        color: purple;
        background-color: #d8da3d;
    }
</style>
</head>

<body>
<p>Hello {{ name }},</p>

<p>These are the vacancies published in the last 24 hours on our website.</p>

<table width="90%" style="border: 1px #000000 solid;">
    <thead style="background: #00446A; color: #FFFFFF; font-size: 20px; font-weight: bold; padding: 10px;">
        <tr style="padding: 10px;">
            <td>Latest Jobs</td>
        </tr>
    </thead>
    
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>
                <strong style="font-size: 14px;">{{forloop.counter}}. <a href="http://{{ domain }}{{ job.get_absolute_url }}">{{ job.job_title }}</a></strong><br/>
                {{ job.job_country }}, {{ job.date_posted|date:"d-M-Y" }}<br/>
                {{ job.job_description|truncatewords:20 }} <a href="http://{{ domain }}{{ job.get_absolute_url }}">More</a><br/>
                <hr/>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p>The <strong>{{ site_name }}</strong> team</p>

<p style="color:red;">Note: This message has been automatically sent by a computer, please DO NOT REPLY. If you need to contact us, please do it using the online form by <a href="http://{{ domain }}/contact">clicking here.</a></p>
</body>
{% endautoescape %}
