{% load i18n %}{% load url from future %}{% autoescape off %}
Hello {{ name }},

<p>We have received a request for this email address to join the {{ site_name }} job alert. In order for us to process this subscription, we need confirmation from you.</p>

<p>If you did not request to join our subscription, you may ignore this message.</p>

<p>To join our email jobs alert go to the following confirmation URL:</p>

<p>http://{{ domain }}/jobs/alert/subscribe/confirm?k={{ key }}&u={{ uid }}</p>

<p>This should take you directly to an email confirmation page. If it does not, please copy and paste the full URL into your web browser's address box and hit the "Enter" key on your keyboard.</p>

<p>**** Information About This Message ****</p>
<p>This message is the result of someone entering your email address in a public subscription box for {{ site_name }} web site. You will only be added to our mailing list if you click on the above link.</p>

<p>The <strong>{{ site_name }}</strong> team</p>

{% endautoescape %}
