/* Common Elements
-----------------------------------------------------------------------*/
body {
    font: 67.5%/1.5em 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    color: #3F3F3F;
}

h1 {
    font-size: 30px;
    letter-spacing: -2px;
}

h2 {
    font-size: 25px;
    letter-spacing: -1px;
}

h3 {
    font-size: 17px;
    font-weight: normal;
    line-height:10px;
}

h4 {
    font-size: 15px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 15px;
}

h3.j_header {
    font-size: 17px;
    font-weight: bold;
    line-height:20px;
}

p, dl, ol, ul, table {
    font-size: 13px;
}

/* Inputs
-----------------------------------------------------------------------*/
input[type=text], input[type=password], textarea {
    background: #ffffff url("../images/input.background.png") 0px 0px repeat-x;
}

input[type=text],
input[type=submit],
textarea,
select,
button,
.button {
    font-family: 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    font-size: 13px;
    color: #444;
}

input.quantity {
    width: 25px;
    text-align: center;
}

input:focus, textarea:focus {
    border-color: #999;
}

textarea {
    display: block;
    margin: 0px;
    padding: 5px;
    width: 370px;
    height: 200px;
    border: 1px solid #ccc;
}

/* Anchors
-----------------------------------------------------------------------*/
a {
    color: #004176;
    font-family: 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
}

a:visited {
    color: #004176;
}

a:hover {
    color: #002D53;
}

a:active {
    color: #8F000D;
}

a.dark, .dark a {
    color: #ddd;
}

a.dark:hover,
.dark a:hover,
a.dark.active,
.dark a.active {
    color: #fff;
}

/* Push: Used to decorate objects with an inner border
-----------------------------------------------------------------------*/
.push {
    overflow: hidden;
    border: 1px solid #eee;
}

/* ----------------------------------------------------------------------
LAYOUT
-----------------------------------------------------------------------*/

.header .logo {
    float: left;
    height: 80px;
    line-height: 80px;
    margin: 20px 0 10px;
    max-width: 40%;
}

.header .tagline {
    float: right;
    margin: 30px 0 10px;
    text-align:right;
}

.black.category_menu {
    background-color: #00446A;
    border: none;
}

.category_menu {
    border-radius: 5px 5px 5px 5px;
}

.category_menu ul {
    height: 36px;
    list-style: none outside none;
    border-radius: 5px 5px 5px 5px;
    position:relative;
    /*margin: 0;
    position: relative;
    width: 100%;*/
}




/* Top Menu
-----------------------------------------------------------------------*/
.category_menu {
    clear: left;
    overflow: hidden;
    margin: 0 0 20px;
    border: 1px solid #aaa;
    background: #f2f2f2 url("../images/overlay-filter.png") 0px 0px repeat-x;
}

.category_menu ul {
    position: relative;
    margin: 0;
    width: 100%;
    list-style: none;
    height: 36px;
    float: left;
}

.category_menu ul li {
    float: left;
    height: 36px;
    border-right: 1px solid #5DBCD2;
}

.category_menu ul li.rss {
    position: absolute;
    top: 0px;
    right: 0px;
    border-right: none;
    border-left: 1px solid #5DBCD2;
}

.category_menu ul li.rss img {
    display: block;
    margin: 8px 0 0;
}

.category_menu ul li a {
    display: block;
    float: left;
    height: 34px;
    padding: 1px 13px 1px 12px;
    line-height: 34px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: #fff;
}

.category_menu ul li a:hover, .category_menu ul li.current-cat a, .category_menu ul li.current_page_item a, .category_menu ul li.current-menu-item a {
    background: #006699 url(../images/overlay-filter.png) 0px 0px repeat-x;
}

.category_menu ul li a:hover, .category_menu ul li.current-cat a {
    padding: 1px 13px 1px 12px;
}

.category_menu ul li.cat-item-all a, .category_menu ul li.rss span, .category_menu ul li.current-cat a {
    padding: 0 13px;
    line-height: 36px;
    height: 36px;
}










/*.category_menu ul li.rss {
    border-left: 1px solid #111111;
    border-right: medium none;
    position: absolute;
    right: 0;
    top: 0;
}*/


/* Focus
-----------------------------------------------------------------------*/
.focus {
    width: 100%;
    float: left;
    margin: 0 0 20px;
}

.focus h3 {
    margin: 0 0 5px;
}

.focus h3 a {
    text-decoration: none;
}

.focus h3 a:hover {
    text-decoration: underline;
}

.focus p {
    margin: 0 0 10px;
}


.whiteboard {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 6px 6px 6px 6px;
}


.grey.filter {
    background-color: #00446A;
    border-color: #00446A;
}





.description form {
    padding: 15px;
    overflow: hidden;
}

.description form#post,
.description form.loginform {
    padding: 0px;
}




-----------------------------------------------------------------------*/
/* Message
-----------------------------------------------------------------------*/
div.message {
  margin: 0 0 15px;
  border: 1px solid #ccc;
  background-image: url("../images/gradient.dark.png");
  background-repeat: repeat-x;
  background-position: 0px 0px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
div.message .push {
  padding: 15px;
  border-color: #fff;
}
div.message h3 {
  margin: 0 0 5px;
}
div.message p {
  margin: 0px;
}
div.message.inline {
	margin: 15px 15px 5px;
}
div.message.inline .push {
	padding: 10px 15px;
}

div.message.white {
  background: #fff;
  border: 1px solid #ccc;
}
div.message.white .push {
  border: none;
}
div.message.red {
  background-color: #E30A07;
  border-color: #AA0509;
  color: #fff;
  text-shadow: #712f23 0px -1px 1px;
  border-radius: 5px;
}
div.message.red .push {
  border-color: #E30A07;
  border-radius: 5px;
}
div.message.red a {
  font-weight: bold;
  color: #fff;
  text-shadow: #712f23 0px -1px 1px;
}
div.message.green {
  background-color: #91bd09;
  border-color: #749a02;
  color: #fff;
  text-shadow: #577118 0px -1px 1px;
  border-radius: 5px;
}
div.message.green .push {
  border-color: #B9EA4F;
  border-radius: 5px;
}
div.message.green a {
  font-weight: bold;
  color: #fff;
  text-shadow: #577118 0px -1px 1px;
}

.whiteboard .message {
    margin: 15px;
}




/* Form - Post Job
----------------------------------------------------------------------- */
.form_post {
    overflow: hidden;
    padding: 10px 0 5px;
}

.form_post h3 {
    margin: 10px 15px;
}

.form_post .message {
    margin: 15px;
}

.form_post .fieldset_set {
    overflow: hidden;
    background: #f2f2f2;
    margin: 0 15px 10px;
    border-radius: 5px;
}

.form_post fieldset {
    position: relative;
    overflow: hidden;
    padding: 0px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;    
}

.form_post fieldset .required {
    position: absolute;
    top: 10px;
    right: 10px;
}

.form_post fieldset p {
    margin: 10px;
}

.form_post fieldset label {
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 5px;
    padding: 3px 0 5px 10px;
    float: left;
    width: 175px;
    color: #444444;
    text-shadow:none;
    background: none repeat scroll 0 0 transparent;
}

.form_post fieldset label .info {
    margin: 5px 0 0;
    display: block;
    width: 150px;
    font-size: 12px;
    font-weight: normal;
    color: #777;
    text-indent: 0px;
    white-space:normal;
    line-height: 16px;
}

.form_post fieldset label.inline {
    margin: 0px;
    width: 80px;
}

.form_post fieldset .field {
    position: relative;
    margin: 10px 0 5px;
    float: left;
}

.form_post fieldset .field .input_wrap {
    display: table;
    background: #fff;
    margin: 0 10px 5px 0;
    padding: 2px;
    float: left;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.form_post fieldset .field label {
    display: inline;
    float: none;
}

.form_post fieldset .field input {
    display: block;
    margin: 0px;
    padding: 5px;
    width: 200px;
    border: 1px solid #ccc;
}

.form_post fieldset .field input.input_full {
    width: 370px;
}

.form_post fieldset .field select {
    margin: 0px;
    width: 230px;
}

.form_post fieldset .field textarea {
    width: 370px;
    height: 200px;
}

.form_post fieldset .field label.check {
    margin: 0px;
    padding: 0px;
    float: left;
    width: auto;
    text-align: left;
    line-height: 20px;
    font-size: 13px;
}

.form_post fieldset .field label.check .input_wrap {
    background: none;
    display: block;
    float: left;
    margin: 3px 5px 0 0;
    padding: 0px;
    width: 18px;
    height: 18px;
}

.form_post fieldset .field label.check input {
    width: 18px !important;
    padding: 0px;
}

.form_post fieldset .field .skills {
    margin: 0px;
    list-style: none outside none;
}

.form_post fieldset.field_skills p {
    margin: 10px 0 0;
}

.form_post fieldset.last {
    border-bottom: none;
}

.form_post fieldset.hide {
    display: none;
}

.form_post .button_set {
    border-top: none;
    padding: 0 15px 15px;
}

.form_post .button_set input {
    float: right;
}





/* Search - Filter Block
-----------------------------------------------------------------------*/
.filter {
    margin: -1px -1px 0;
    overflow: hidden;
    background: #1b1b21 url("../images/overlay-filter.png") 0px 0px repeat-x;
    border: 1px solid #333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.filter .push {
    border: none;
}

.filter ul {
    overflow: hidden;
    margin: 0px;
    padding: 0;
}

.filter li {
    display: block;
    float: left;
    line-height: 55px;
}

.filter li a {
    display: block;
    float: left;
    padding: 0px 15px;
    height: 55px;
    line-height: 55px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    border-right: 1px solid #5DBCD2;
}

.filter li a:hover, .filter li a.active {
    background: transparent url("../images/overlay-filter.png") 0px 0px repeat-x;
}

.filter li.first a {
    border-left: none;
}

.filter li.categories {
    float: none;
    padding-right: 15px;
}

.filter li.categories .cmf-skinned-select {
    float: right;
    margin: 12px 0 0;
    border: none;
}

.filter li.categories .cmf-skinned-select select.styled {
    width: 190px;
}

.filter li.categories span {
    display: block;
    float: right;
    margin: 5px 5px 0 0;
    padding: 0px;
    width: 280px;
    height: 40px;
}

.filter li.categories span input[type=text] {
    display: block;
    float: left;
    margin: 5px;
    padding: 0 0 0 7px;
    width: 230px;
    height: 30px;
    line-height: 30px;
    background: #ffffff url("../images/input.text.png") 0px 0px repeat-x;
    border: none;
}

.filter li.categories span input[type=submit] {
    display: block;
    float: left;
    margin: 5px;
    width: 20px;
    height: 30px;
    line-height: 30px;
    background: transparent url("../images/input.search.png") 50% 50% no-repeat;
    border: none;
    cursor: pointer;
}

.filter li.categories span input[type=submit]:hover {
    cursor: pointer;
}

.filter li.search {
    float: none;
    padding-right: 10px;
    line-height: 1em;
}

.filter li.search form {
    margin: 0 0 10px;
}

.filter li.search form span {
    position: relative;
    display: block;
    float: right;
    margin: 0px 0 0 0;
    padding: 1px;
    background: url("../images/opaque.light.png") repeat;
}

.filter li.search form span input[type=text] {
    margin: 0px;
    padding: 0 7px;
    height: 30px;
    line-height: 30px;
    width: 192px;
    color: #eee;
    border: none;
    background: url("../images/opaque.dark.png") repeat;
}

.filter li.search form span button {
    position: absolute;
    top: 1px;
    right: 3px;
    width: 30px;
    height: 30px;
    background: transparent url("../images/icon.search.large.alt.png") 50% 50% no-repeat;
    border: none;
}


/* Listings
-----------------------------------------------------------------------*/
ol.list {
    overflow: hidden;
    background: #ccc;
    margin: 0;
    padding: 0;
}

ol.list li {
    overflow: hidden;
    margin: 0 0 1px;
    padding: 15px;
    background: #fff;
}

ol.list li .details {
    margin: 0 20px 0 0;
    width: 435px;
    float: left;
}

ol.list li .details em.new {
    float: left;
    margin: 3px 7px 0 0;
}

ol.list li .details h3 a {
    line-height: 25px;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: -1px;
}

ol.list li .details .company p {
    margin: 0px;
}

ol.list li .meta {
    margin: 0 15px 0 0;
    width: 130px;
    float: left;
}

ol.list li .meta dl {
    margin-bottom:0;
}

ol.list li .meta dl dt {
    margin: 0 0 5px;
    font-weight: bold;
}

ol.list li .meta dl dd {
    margin-left:0;
}

ol.list li .datestamp {
    width: 58px;
    float: left;
    text-align: right;
    color: #666;
}

ol.list li.last {
    border-bottom: none;
}

ol.list li.enabled {
    background: #fff;
}

ol.list li.disabled {
    /*  padding: 10px 15px 5px;
    */
    background: #f2f2f2;
    display: block;
}

ol.list li.disabled .details {
}

ol.list li.disabled .details h3 a {
    /*  font-weight: normal;
    */
    color: #777;
    /*display: none;*/
}

ol.list li.disabled .details p {
    /*display: none;*/
}

ol.list li.disabled .meta {
    /*display: none;*/
}

ol.list li.disabled .datestamp {
    /*display: none;*/
}

ol.list li:hover {
    background: #eaefff;
}


/* Paging
-----------------------------------------------------------------------*/
.pagingShows {
    position: relative;
    overflow: hidden;
    margin: -1px 0 0;
    padding: 5px;
    min-height: 25px;
    border-top: 1px solid #ccc;
    background: #f2f2f2;
}

.pagingShows .count {
    position: absolute;
    left: 15px;
    font-size: 14px;
}

.paging {
    position: relative;
    overflow: hidden;
    margin: -1px 0 0;
    padding: 15px;
    min-height: 25px;
    border-top: 1px solid #ccc;
    background: #f2f2f2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.paging .count {
    position: absolute;
    top: 17px;
    left: 15px;
    font-size: 14px;
}

.paging ul {
    text-align: right;
    float: right;
    list-style:none;
}

.paging ul li {
    float: left;
    margin: 0 0 5px 5px;
}

.paging ul li a {
    display: block;
    text-decoration: none;
    background: #fff;
    border: 1px solid #ccc;
    background-image: url("../images/gradient.dark.png");
    background-repeat: repeat-x;
    background-position: 0px 0px;
    border-radius: 4px 4px 4px 4px;
}

.paging ul li a span {
    text-shadow: #fff 1px 1px 1px;
    display: block;
    overflow: hidden;
    padding: 2px;
    min-width: 16px;
    text-align: center;
    color: #444;
    font-weight: bold;
    border-radius: 3px 3px 3px 3px;
}

.paging ul li a:hover {
    background: #fff;
    border: 1px solid #aaa;
}

.paging ul li.active a {
    background: #555;
    border: 1px solid #333;
    background-image: url("../images/gradient.dark.png");
    background-repeat: repeat-x;
    background-position: 0px 0px;
}

.paging ul li.active a span {
    color: #fff;
}

.paging ul li.previous a span {
    padding: 2px 10px;
}

.paging ul li.next {
    float: left;
}

.paging ul li.next a span {
    padding: 2px 10px;
}

.paging ul li.disabled {
    display: none;
}

.paging ul li.active a {
    background: #444;
}

.paging ul.green li.active a {
    background-color: #91bd09;
    border-color: #749a02;
}

.paging ul.green li.active a span {
    text-shadow: #749a02 1px 1px 1px;
}

.paging ul.blue li.active a {
    background-color: #287CBF;
    border-color: #1D5F96;
}

.paging ul.blue li.active a span {
    text-shadow: #1D5F96 1px 1px 1px;
}

.paging ul.black li.active a {
    background-color: #333;
}

.paging ul.black li.active a span {
    text-shadow: #333 1px 1px 1px;
}

.paging ul.grey li.active a {
    background-color: #555;
}

.paging ul.grey li.active a span {
    text-shadow: #444 1px 1px 1px;
}

.paging ul.red li.active a {
    background-color: #E30A07;
    border-color: #AA0509;
}

.paging ul.red li.active a span {
    text-shadow: #AA0509 1px 1px 1px;
}

.paging ul.magenta li.active a {
    background-color: #a9014b;
    border-color: #740134;
}

.paging ul.magenta li.active a span {
    text-shadow: #740134 1px 1px 1px;
}

.paging ul.orange li.active a {
    background-color: #e33100;
    border-color: #C12A01;
}

.paging ul.orange li.active a span {
    text-shadow: #C12A01 1px 1px 1px;
}


.menu ul {
    list-style:none;
    text-align:right;
}

.menu ul li {
    display:inline;
}


/* Sidebar
-----------------------------------------------------------------------*/
/*.sidebar {
    margin-left: 20px;
    width: 250px;
    float: left;
    color: #666;
}*/

.sidebar h2, .sidebar h3 {
    margin: 0 0 0;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0px;
    vertical-align: baseline;
}

.sidebar h4 {
    margin: 0 0 5px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: uppercase;
    opacity: 0.4;
}

.sidebar ul {
    list-style:none;
    margin: 0px;
}

.sidebar p {
    margin: 0 0 10px;
}

.sidebar .widget {
    margin: 0 0 20px;
}

.sidebar .cell {
    margin: 0 0 20px;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
}

.sidebar .cell .push {
    padding: 15px;
}

.sidebar .cell.action {
    padding: 15px;
}

.sidebar .cell.action p {
    margin: 0 0 5px;
}

.sidebar .cell.action .button {
    display: block;
    margin: 10px auto 0;
    width: 50%;
}

.sidebar .about {
    margin: 0 0 20px;
}

.sidebar .advert {
    position: relative;
    overflow: hidden;
    margin: 0 0 20px;
}

.sidebar .advert img {
    display: block;
    float: left;
    margin: 0 10px 0 0;
}

.sidebar .advert h4 {
    position: absolute;
    top: 2px;
    left: 130px;
    font-weight: bold;
}

.sidebar .advert p {
    margin: 20px 0 0;
    font-size: 12px;
    color: #888;
}

.sidebar .tablets {
    margin: 0 0 20px;
}

.sidebar .tablets li {
    margin: 0 0 3px;
    border: 1px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    line-height: 15px;
}

.sidebar .tablets li a {
    position: relative;
    display: block;
    padding: 3px 10px;
    background: #f2f2f2;
    border: 1px solid #FFFFFF;
    border-radius: 3px 3px 3px 3px;
}

.sidebar .tablets li a span {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 1.5em;
    font-size: 12px;
    padding: 2px 0px;
    background: #fff;
    width: 30px;
    text-align: center;
    color: #aaa;
}

.sidebar .tablets li a:hover {
    background: #fff;
}

.sidebar .tablets a {
    text-decoration: none;
}

.sidebar #calendar_wrap {
    margin: 0 2px 0 0;
    overflow: hidden;
}

.sidebar table {
    width: 248px;
}

.sidebar table caption {
    width: 248px;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    background: #ddd;
}

.sidebar table th {
    padding: 3px 0;
    border: 1px solid #ccc;
}

.sidebar table td {
    padding: 3px 0;
    text-align: center;
    border: 1px solid #ccc;
}

.sidebar table td#today {
    background: #f2f2f2;
    font-weight: bold;
}


/* Buttons
-----------------------------------------------------------------------*/
.button, input[type=submit] {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: visible;
    width: auto;
    padding: 5px 15px 6px;
    color: #fff !important;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    border: none;
    background: #00446A  url("../images/overlay-button.png") repeat-x 0 0;
}

button {
    border: none;
}

.button:hover, input[type=submit]:hover {
    background-color: #006699;
    color: #fff;
}

.small.button {
    font-size: 12px;
}

.large.button {
    font-size: 14px;
    padding: 8px 19px 9px;
}

.xlarge.button {
    font-size: 16px;
    padding: 9px 19px 10px;
}

.green.button {
    background-color: #91bd09;
}

.green.button:hover {
    background-color: #749a02;
}

.blue.button {
    background-color: #00446A ;
}

.blue.button:hover {
    background-color: #1D5F96;
}

.black.button {
    background-color: #222;
}

.black.button:hover {
    background-color: #111;
}

.grey.button {
    background-color: #555;
}

.grey.button:hover {
    background-color: #444;
}

.red.button {
    background-color: #E30A07;
}

.red.button:hover {
    background-color: #AA0509;
}

.magenta.button {
    background-color: #a9014b;
}

.magenta.button:hover {
    background-color: #630030;
}

.orange.button {
    background-color: #e33100;
}

.orange.button:hover {
    background-color: #872300;
}

.white.button {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #666 !important;
    font-weight: normal;
    text-shadow: #fff 1px 1px 1px !important;
}

.white.button:hover {
    background-color: #eee;
    text-shadow: #fff 1px 1px 1px !important;
}



.xlarge.button {
    font-size: 16px;
    padding: 9px 19px 10px;
}

.button, input[type="submit"], .qq-upload-button {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 5px 5px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25) !important;
    color: #FFFFFF !important;
    text-align: center;
    font-weight: bold;
    line-height: 1;
}


/* Required Badge
-----------------------------------------------------------------------*/
.required {
    display: table;
    height: 17px;
    line-height: 17px;
    padding: 0px 5px;
    text-align: center !important;
    text-indent: 0px;
    background-color: #CCCCEB;
    background-image: url("../images/gradient.dark.png");
    background-repeat: repeat-x;
    background-position: 0px 0px;
    text-shadow: 0px 1px 1px #888;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.required.yes {
    background-color: #91bd09;
    text-shadow: 0px 1px 1px #749a02;
}

.required.no {
    background-color: #E30A07;
    text-shadow: 0px 1px 1px #E30A07;
}

span.required {
    border-radius: 3px 3px 3px 3px;
}


/* QuickSearch
-----------------------------------------------------------------------*/
.quicksearch, .site_search {
    margin: 0 0 20px;
}

.quicksearch form span, .site_search form span {
    position: relative;
    display: block;
    margin: 0px;
    padding: 2px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    border-radius: 3px 3px 3px 3px;
}

.quicksearch form span input[type=text], .site_search form span input[type=text] {
    margin: 0px;
    padding: 0 7px;
    height: 30px;
    width: 204px;
    border: none;
    background: #fff;
}

.quicksearch form span button, .site_search form span button  {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 30px;
    height: 30px;
    background: transparent url("../images/icon.search.large.png") 50% 50% no-repeat;
    border: none;
}


.whiteboard {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AAAAAA;
    border-radius: 6px 6px 6px 6px;
}


/* Title
-----------------------------------------------------------------------*/
.title {
    margin: -1px -1px 0;
    overflow: visible;
    background: #1b1b21 url("../images/overlay-filter.png") 0px 0px repeat-x;
    border: 1px solid #333;
    position: relative;
    padding: 10px 15px 15px;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title h1 {
    line-height: 28px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -1px;
    color: #fff;
}

.title p {
    margin: 5px 0 0;
    color: #eee;
    font-size: 15px;
}

.white.title {
    background-color: #fff;
    border-color: #aaa;
    text-shadow: 0px 1px 1px #fff;
}

.white.title h1 {
    color: #444;
}

.white.title p {
    color: #888888;
}

/* Share
-----------------------------------------------------------------------*/
.share {
    float: right;
    margin: 5px 0 0;
}

/* Sub
-----------------------------------------------------------------------*/
.sub {
    position: relative;
    overflow: hidden;
    margin: -1px -1px 0;
    padding: 10px 15px;
    border: 1px solid #666;
    background-color: #666;
    background-image: url("../images/gradient.dark.png");
    background-repeat: repeat-x;
    background-position: 0px 0px;
    font-weight: 500;
    color: #f2f2f2;
    font-size: 15px;
}

.sub .meta {
    float: right;
}

.sub .meta a {
    display: block;
    float: right;
    margin: 0 0 0 5px;
    padding: 2px 5px 5px;
    background: url("../images/opaque.light.png") repeat;
    color: #fff;
    text-decoration: none;
}

.sub .meta a span {
    display: block;
    line-height: 13px;
    font-size: 13px;
}

.sub .meta a:hover {
    background: none;
}

.sub h2 {
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    margin: 0px;
    line-height: 20px;
}

.sub h2 strong {
    font-weight: bold;
    color: #fff;
}

.sub p {
    margin: 0px;
    font-size: 14px;
}

.sub .meta, x:-moz-any-link {
    width: 140px;
    overflow: hidden;
}

.blue.sub {
    background-color: #1D5F96;
    border-color: #5DBCD2;
}

.red.sub {
    background-color: #E30A07;
    border-color: #AA0509;
    text-shadow: 0 1px 1px #AA0509;
}


/* Descriptive Text
-----------------------------------------------------------------------*/
.cms {
    overflow: hidden;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.cms img {
    margin: 0 15px 10px 0;
    display: block;
    padding: 1px;
    border: 1px solid #ccc;
}

.cms img.alignleft {
    margin: 0 15px 10px 0;
    float: left;
}

.cms img.alignright {
    margin: 0 0 10px 15px;
    float: right;
}

.cms h1, .cms h2 {
    margin: 10px 0;
}

.cms p, .cms li {
    font-size: 13px;
    line-height: 21px;
}

.cms table {
    margin: 0 0 10px;
    width: 100%;
}

.cms table th {
    background: #f2f2f2;
}

.cms table th, .cms table td {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: left;
}

.cms ul, .cms ol {
    margin: 0 0 10px;
}

.cms li {
    list-style: disc inside;
}

.cms .terms ol li {
    list-style: decimal inside;
}

.cms .terms ol ul li {
    list-style: disc inside;
}

.cms .terms ol {
	counter-reset: li; /* Initiate a counter */
	list-style: decimal; /* Keep default numbering */
	*list-style: decimal; /* Keep using default numbering for IE6/7 */
	padding: 0;
	margin-bottom: 4em;
}

.cms .terms ol ul {
	margin: 0 0 0 2em; /* Add some left margin for inner lists */
}

/* Job Skills
-----------------------------------------------------------------------*/
.jobskills {
    overflow: hidden;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.jobskills .subtitle {
    width: 160px;
    float: left;
}

.jobskills ul {
    float: left;
}

.jobskills ul li {
    list-style: disc inside;
    padding: 2px 0;
}

/* Package
-----------------------------------------------------------------------*/
.package {
    overflow: hidden;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.package .subtitle {
    width: 160px;
    float: left;
}

.package div {
    float: left;
}

/* Apply
-----------------------------------------------------------------------*/
.apply {
    overflow: hidden;
    padding: 15px;
}

.apply .subtitle {
    width: 160px;
    float: left;
}

.apply p {
    float: left;
}

.form_apply {
    overflow: hidden;
    padding: 2px 0 0;
}

/* Select Styled
-----------------------------------------------------------------------*/
/* Custom form select element */
select.styled {
    width: 245px;
    height: 18px;
    margin-right: 20px;
    cursor: pointer;
}

.cmf-skinned-select {
    padding: 7px;
    display: block;
    font-family: 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
    line-height: 20px;
    border: 1px solid #bbb;
    background: url('../images/select.png') center right no-repeat;
}

.cmf-skinned-select:hover {
    background: url('../images/select_over.png') center right no-repeat;
}

div.cmf-skinned-text {
    padding: 5px 7px;
    font-size: 14px;
    color: #333;
}

/* Category Tags Styles */
.category {
    margin-bottom: 1em;
    color: #666666;
}

.category a, span.selectedTag {
    color: black;
    padding: 0.25em 0.5em;
    background: #dddddd;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    text-decoration: none;
}
.category a:hover {
    background: #205c90;
    color: White;
    border-color: #205c90;
    text-decoration: none;
}
.category .separator {
    display: none;
}



/* Footer
-----------------------------------------------------------------------*/
.footer_push {
    height: 140px;
}

.footer {
    overflow: hidden;
    margin: 0px;
    width: 100%;
    height: 140px;
}

.footer {
    padding-top: 15px;
    border-top: 1px solid #ccc;
}

.footer .links {
    margin: 0 10px 0 0;
}

.footer ul {
    overflow: hidden;
    margin: 0 0 10px;
    float: right;
}

.footer ul li {
    float: left;
    margin: 0 -7px 0 7px;
    padding: 0 7px;
    border-right: 1px solid #ccc;
}

.footer ul li.first {
    border-left: none;
}

.footer ul li:last-child {
    border-right: none;
}

.footer .seo p {
    margin: 10px 0 0;
    font-size: 12px;
    color: #888;
}

.site_search form {
	margin: 0px 0px 10px;
	float: right;
	width: 225px;
}

.custom {
	background: #00446A;
	color: #fff;
	padding: 10px;
	border-radius:5px;
	margin: 0 0 20px;
}

.custom a {	
	color: #fff;
	text-decoration: underline;
}

.content {
    padding: 20px;
}
