{% extends "includes/base.html" %}
{% load i18n %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
<div class="whiteboard">

	<div class="title white">
		<div>
			<h1>404 Page Not Found</h1>
		</div>
	</div>
	
	<div class="description cms"> 
	
	<div>
	    <p>Oops! It seems you stumbled on something that does not exist.</p> 
	    <p>If you believe it's a mistake on our part, please kindly <a href="/contact/">let us know</a>.</p>
	    <p>Thanks!</p>
	</div>

	</div><!-- /description -->

</div>
{% endblock %}
