{% extends "includes/base.html" %}
{% load i18n %}

{% block title %}Server Error{% endblock %}

{% block content %}
<div class="whiteboard">

    <div class="title white">
        <div>
            <h1>500 Internal Server Error</h1>
        </div>
    </div>
    
    <div class="description cms"> 
    
    <div>
        <p>Oops! Sorry, something went wrong.</p> 
        <p>Please visit the <a href="/jobs">default page</a>.</p>
        <p>Thanks!</p>
    </div>

    </div><!-- /description -->

</div>
{% endblock %}
