{% extends "includes/base.html" %}
{% load i18n %}
{% load url from future %}

{% block meta_desc %}{% trans "We would love to hear from you and answer any questions you have about our site. Please complete and submit the following form." %}{% endblock %}

{% block title %}{% trans "Contact Us" %}{% endblock %}

{% block content %}
<div class="whiteboard">

	<div class="title white">
		<div>
			<h1>{% trans "Contact Us" %}</h1>
		</div>
	</div>  
	
	{% if form.errors %}
    <div class="message red">
        <div class="push">
        <h3>{% trans "Please correct the following errors" %}</h3>
        <p>
			{{ form.errors }}        
        </p>
        </div>
    </div>
    {% endif %}							  
	
	<div class="description cms"> 
	
		<p>{% trans "We would love to hear from you and answer any questions you have about TechJobsBistro. Please complete and submit the following form." %}</p>
	
		<form method="post" id="loginForm" class="loginform" action="/contact/">
		{% csrf_token %}
			<div class="form_post">
				<h3>Contact Us</h3>
				
				<div class="fieldset_set">
					<fieldset class="first">
						<span class="required" id="labelsubject">{% trans "Required" %}</span>
						<label class="label" for="subject">{% trans "Subject" %}</label>
						
						<div class="field mod">
							<div class="input_wrap">
								{{ form.subject }}
							</div>
						</div>
					</fieldset>
					
					<fieldset>						
						<label class="label" for="email">{% trans "Your e-mail (optional):" %}</label>
						
						<div class="field mod">
							<div class="input_wrap">
								{{ form.email }}
							</div>
						</div>
					</fieldset>
					
					<fieldset class="last">
						<span class="required" id="labelmessage">{% trans "Required" %}</span>
						<label class="label" for="message">{% trans "Message" %}</label>
						
						<div class="field mod">
							<div class="input_wrap">
								{{ form.message }}
							</div>
						</div>
					</fieldset>
				</div>
				
				<div class="button_set mod">
					<input name="action" value="contact" type="hidden">
					<input id="contactsubmit" name="contactsubmit" value="Submit" type="submit">
				</div>
			</div>
		</form>

	</div><!-- /description -->

</div>
{% endblock %}
