{% extends "includes/base.html" %}
{% load i18n %}

{% block title %}{% trans "Contact Us confirmation" %}{% endblock %}

{% block content %}
<div class="whiteboard">

	<div class="title white">
		<div>
			<h1>Thanks!</h1>
		</div>
	</div>
	
	<div class="description cms"> 
	
	<div><p>Message received. We will try to respond to your message as soon as possible.</p></div>

	</div><!-- /description -->

</div>
{% endblock %}
