<li>
    <ul class="tablets">
        {% for country, job_count in country_jobs.items %}
            <li><a href="/jobs/?country={{country}}">{{country}}<span>{{job_count}}</span></a></li>
        {% endfor %}
    </ul>
</li>
