{% extends "includes/base.html" %}
{% load i18n %}
{% load url from future %}


{% block meta_desc %}{% if request.GET.country %}Search and apply for the latest Technology Jobs in {{ request.GET.country }}. New job listings posted daily. Explore career opportunities with top companies recruiting in {{ request.GET.country }}.
    {% else %}
        {% if request.GET.job_type %}Search and apply for the latest {{ request.GET.job_type }} Technology Jobs. New job listings posted daily. Explore career opportunities with top companies recruiting for {{ request.GET.job_type }} workers.
        {% endif %}
    {% endif %}
{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}


<div class="results whiteboard">
                            <div class="filter grey">
                                <div class="push">
                                    <ul>
                                        <li class="first"><a href="/jobs">{% trans "All Types" %}</a></li>
                                        {% for type in job_types %}
                                            <li><a href="/jobs/?job_type={{type.name}}">{{type.name}}</a></li>                              
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            
                            {% if jobs %}
                            
                                {% comment %}Display the country name if available{% endcomment %}
                                {% if request.GET.country %}
                                    <div class="description cms"><p>Displaying all jobs in <strong>{{ request.GET.country }}</strong></p></div>
                                {% endif %}
                            
                            <ol class="list">                                
                                
                            {% for job in jobs %}
                                <li>
                                    <div class="details">
                                        <h3><a href="{{ job.get_absolute_url }}">{{ job.job_title }}</a></h3>
                                        <div class="company">
                                            <p>{% if job.post_anon %}Anonymous{% else %}{{ job.company_name }}{% endif %}</p>
                                        </div>
                                    </div>
                                    <div class="meta">
                                        <span><strong>{{ job.job_country }}</strong></span><br/>
                                        <span>{{ job.job_type }}</span>
                                    </div>
                                    <div class="datestamp">
                                        <p>{{ job.date_posted|date:'M d' }}</p>
                                    </div>                     
                                </li>
                            {% endfor %}
                                
                            </ol>
                            
                            {% else %}
                            <div class="description cms"><p>No job listings</p></div>
                            {% endif %}
                            
                            <div class="pagingShows">
                                <p class="count">Showing <strong>{{ jobs.start_index }} - {{ jobs.end_index }}</strong> of <strong>{{ jobs.paginator.count }}</strong>&nbsp;jobs</p>
                            </div>
                            
                            <div class="paging">
                                <ul class="blue">
                                    {% if jobs.has_previous %}
                                    <li class="previous"><a href="?page={{ jobs.previous_page_number }}"><span>&lt; Previous</span></a></li>
                                    {% endif %}
                                    
                                    {% for page_num in jobs.paginator.page_range %}
                                        {% if page_num = jobs.number %}
                                        <li class="active"><a href="?page={{ page_num }}"><span>{{ page_num }}</span></a></li>
                                        {% else %}
                                        <li><a href="?page={{ page_num }}"><span>{{ page_num }}</span></a></li>
                                        {% endif %}                                 
                                    {% endfor %}
                                    
                                    {% if jobs.has_next %}
                                    <li class="next"><a href="?page={{ jobs.next_page_number }}"><span>Next &gt;</span></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                
                        </div>

{% endblock %}
