{% extends "includes/base.html" %}
{% load i18n %}

{% block meta_desc %}{% trans "Subscribe to our job alert and you will regularly receive a free email message containing the latest vacancies advertised in our site." %}{% endblock %}

{% block title %}{% trans "Job Alert Subscription" %}{% endblock %}

{% block content %}
                        <div class="whiteboard">
                        
                            <div class="title white">
                                <div>
                                    <h1>Job Alert</h1>
                                </div>
                            </div>
                            
                            {% if form.errors %}
                            <div class="message red">
                                <div class="push">
                                <h3>{% trans "Please correct the following errors" %}</h3>
                                <p>
                                    {{ form.errors }}        
                                </p>
                                </div>
                            </div>
                            {% endif %}  
                            
                            <div class="description cms"> 
                            
                                <p>{% trans "Subscribe to our job alert and you will regularly receive a free email message containing the latest vacancies advertised in our site." %}</p>
                            
                                <form method="post" id="loginForm" class="loginform" action=".">
                                {% csrf_token %}
                                    <div class="form_post">
                                                                                
                                        <div class="fieldset_set">
                                            <fieldset class="first last">
                                                <span class="required" id="labelemail">Required</span>
                                                <label class="label" for="subscriber_email">Your Email</label>
                                                
                                                <div class="field mod">
                                                    <div class="input_wrap">{{ form.subscriber_email }}</div>
                                                </div>
                                            </fieldset>                                      
                                        </div>
                                        
                                        <div class="button_set mod">
                                            <input name="action" value="subscribe" type="hidden">
                                            <input value="Subscribe" type="submit">
                                        </div>
                                    </div>
                                </form>                        
        
                            </div><!-- /description -->
                
                        </div>
{% endblock %}
