{% extends "includes/base.html" %}
{% load i18n %}

{% block title %}Email Subscription{% endblock %}

{% block content %}
                        <div class="whiteboard">
                        
                            <div class="title white">
                                <div>
                                    <h1>Thanks!</h1>
                                </div>
                            </div>
                            
                            <div class="description cms"> 
                            
                            <div>
                                <p>Thank you for your email subscription. You have activated your jobs alert subscription.</p>
                            </div>
        
                            </div><!-- /description -->
                
                        </div>
{% endblock %}
