{% extends "includes/base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
                        <div class="whiteboard">
                        
                            <div class="title white">
                                <div>
                                    <h1>{% trans "Login" %}</h1>
                                </div>
                            </div>  
                            
                            
                            <script type="text/javascript">
                                jQuery(document).ready(function () {
                                    jQuery("#loginForm").validate({
                                        rules:{
                                            uemail:{
                                                required:true
                                            },
                                            password:{
                                                required:true
                                            }
                                        },
                                        messages:{
                                            uemail:{
                                                required:"Email is required!"
                                            },
                                            password:{
                                                required:"Password is required!"
                                            }
                                        },
                                        errorPlacement:function (error, element) {
                                            var er = element.attr("name");
                                            jQuery('#label' + er).removeClass('yes');
                                            jQuery('#label' + er).addClass('no');
                                        }
                                    });
                                    jQuery('.validation').blur(function () {
                                        if (jQuery(this).valid()) {
                                            var nm = jQuery(this).attr("name");
                                            jQuery('#label' + nm).removeClass('no');
                                            jQuery('#label' + nm).addClass('yes');
                                        }
                                    });
                                    jQuery("#registerForm").validate({
                                        rules:{
                                            regusername:{
                                                required:true
                                            },
                                            regemail:{
                                                required:true,
                                                email:true
                                            },
                                            regpassword:{
                                                required:true
                                            }
                                        },
                                        messages:{
                                            regusername:{
                                                required:"Username is required!"
                                            },
                                            regemail:{
                                                required:"Email is required.",
                                                email:"Incorrect email format."
                                            },
                                            regpassword:{
                                                required:"Password is required!"
                                            }
                                        },
                                        errorPlacement:function (error, element) {
                                            var er = element.attr("name");
                                            jQuery('#label' + er).removeClass('yes');
                                            jQuery('#label' + er).addClass('no');
                                        }
                                    });
                                    jQuery('.validation').blur(function () {
                                        if (jQuery(this).valid()) {
                                            var nm = jQuery(this).attr("name");
                                            jQuery('#label' + nm).removeClass('no');
                                            jQuery('#label' + nm).addClass('yes');
                                        }
                                    });
                                });
                            </script>
                                                      
                            
                            <div class="description"> 
                            
                                <form method="post" id="loginForm" class="loginform" action=".">
								{% csrf_token %}
                                    <div class="form_post">
                                        <h3>Log In</h3>
                                        
                                        <div class="fieldset_set">
                                            <fieldset class="first">
                                                <span class="required" id="labeluemail">{% trans "Required" %}</span>
                                                <label class="label" for="uemail">{% trans "Email" %}</label>
                                                
                                                <div class="field mod">
                                                    <div class="input_wrap">
                                                        <input id="uemail" class="validation" name="uemail" type="text">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            
                                            <fieldset class="last">
                                                <span class="required" id="labelpassword">{% trans "Required" %}</span>
                                                <label class="label" for="password">{% trans "Password" %}</label>
                                                
                                                <div class="field mod">
                                                    <div class="input_wrap">
                                                        <input id="password" class="validation" name="password" type="password">
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        
                                        <div class="button_set mod">
                                            <input name="action" value="login" type="hidden">
                                            <input id="loginsubmit" name="loginsubmit" value="Login" type="submit">
                                            <input type="hidden" name="next" value="{{ next|escape }}" />
                                            
                                            <p><a href="{% url 'password_reset' %}" title="Lost Password">{% trans "Lost Password" %}</a></p>
                                        </div>
                                    </div>
                                </form>
        
                            </div><!-- /description -->
                
                        </div>
{% endblock %}
