{% extends "includes/base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Job Search Results" %}{% endblock %}

{% block content %}

<div class="results whiteboard">
                            <div class="filter grey">
                                <div class="push">
                                    <ul>
                                        <li class="first"><a href="/jobs">{% trans "All Types" %}</a></li>
                                        {% for type in job_types %}
                                            <li><a href="/jobs/?job_type={{type.name}}">{{type.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            
                            {% if jobs %}
                            
                            <div class="cms">
                                <p>You searched for: <strong>{{ query }}</strong></p>
                                <p>Found <strong>{{ jobs|length }}</strong> job{{ jobs|pluralize }}.</p>
                            </div>
                            
                            <ol class="list">                                
                                
                            {% for job in jobs %}
                                <li>
                                    <div class="details">
                                        <h3><a href="{{ job.get_absolute_url }}">{{ job.job_title }}</a></h3>
                                        <div class="company"><p>{{ job.company_name }}</p></div>
                                    </div>
                                    <div class="meta">
                                        <span><strong>{{ job.job_country }}</strong></span><br/>
                                        <span>{{ job.job_type }}</span>
                                    </div>
                                    <div class="datestamp">
                                        <p>{{ job.date_posted|date:'M d' }}</p>
                                    </div>                     
                                </li>
                            {% endfor %}
                                
                            </ol>
                            
                            {% else %}
                            <div class="description cms">
                                <p>You searched for: <strong>{{ query }}</strong></p>
                                <p>No jobs matched your search criteria.</p>
                            </div>
                            {% endif %}
                            
                            <div class="pagingShows">
                                <p class="count">Showing <strong>{{ jobs.start_index }} - {{ jobs.end_index }}</strong> of <strong>{{ jobs.paginator.count }}</strong>&nbsp;jobs</p>
                            </div>
                            
                            <div class="paging">
                                <ul class="blue">
                                    {% if jobs.has_previous %}
                                    <li class="previous"><a href="?page={{ jobs.previous_page_number }}"><span>&lt; Previous</span></a></li>
                                    {% endif %}
                                    
                                    {% for page_num in jobs.paginator.page_range %}
                                        {% if page_num = jobs.number %}
                                        <li class="active"><a href="?page={{ page_num }}"><span>{{ page_num }}</span></a></li>
                                        {% else %}
                                        <li><a href="?page={{ page_num }}"><span>{{ page_num }}</span></a></li>
                                        {% endif %}                                 
                                    {% endfor %}
                                    
                                    {% if jobs.has_next %}
                                    <li class="next"><a href="?page={{ jobs.next_page_number }}"><span>Next &gt;</span></a></li>
                                    {% endif %}
                                </ul>
                            </div>
                
                        </div>

{% endblock %}
