{% extends "includes/base.html" %}
{% load i18n %}

{% block meta_desc %}{% trans "By using our site your business will be able to advertise all vacancies for free, and find among thousands of resumes the best professionals in East Africa." %}{% endblock %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
                        <div class="whiteboard">
                        
                            <div class="title white">
                                <div>
                                    <h1>Signup</h1>
                                </div>
                            </div>  
                            
                            
                            <script type="text/javascript">
                                jQuery(document).ready(function () {
                                    jQuery("#loginForm").validate({
                                        rules:{
                                            username:{
                                                required:true
                                            },
                                            password:{
                                                required:true
                                            }
                                        },
                                        messages:{
                                            username:{
                                                required:"Username is required!"
                                            },
                                            password:{
                                                required:"Password is required!"
                                            }
                                        },
                                        errorPlacement:function (error, element) {
                                            var er = element.attr("name");
                                            jQuery('#label' + er).removeClass('yes');
                                            jQuery('#label' + er).addClass('no');
                                        }
                                    });
                                    jQuery('.validation').blur(function () {
                                        if (jQuery(this).valid()) {
                                            var nm = jQuery(this).attr("name");
                                            jQuery('#label' + nm).removeClass('no');
                                            jQuery('#label' + nm).addClass('yes');
                                        }
                                    });
                                    jQuery("#registerForm").validate({
                                        rules:{
                                            regusername:{
                                                required:true
                                            },
                                            regemail:{
                                                required:true,
                                                email:true
                                            },
                                            regpassword:{
                                                required:true
                                            }
                                        },
                                        messages:{
                                            regusername:{
                                                required:"Username is required!"
                                            },
                                            regemail:{
                                                required:"Email is required.",
                                                email:"Incorrect email format."
                                            },
                                            regpassword:{
                                                required:"Password is required!"
                                            }
                                        },
                                        errorPlacement:function (error, element) {
                                            var er = element.attr("name");
                                            jQuery('#label' + er).removeClass('yes');
                                            jQuery('#label' + er).addClass('no');
                                        }
                                    });
                                    jQuery('.validation').blur(function () {
                                        if (jQuery(this).valid()) {
                                            var nm = jQuery(this).attr("name");
                                            jQuery('#label' + nm).removeClass('no');
                                            jQuery('#label' + nm).addClass('yes');
                                        }
                                    });
                                });
                            </script>
                            
                            {% if error %}
                            <div class="message red" id="success">
                                <div class="push">
                                    <h3>Error!</h3>
                                    <p>{{ error_msg }}</p>
                                </div>
                            </div>
                            {% endif %}
                                                      
                            
                            <div class="description"> 
                            
                                <form method="post" id="registerForm" class="loginform">
								{% csrf_token %}
								
                                    <div class="form_post">
                                        <h3>Register</h3>
                                        
                                        <div class="fieldset_set">
                                            <fieldset class="first">
                                                <span class="required" id="labelregusername">Required</span>
                                                <label class="label" for="regusername">Username</label>

                                                <div class="field mod">
                                                    <div class="input_wrap">
                                                        <input id="regusername" class="validation" name="regusername" type="text">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            
                                            <fieldset>
                                                <span class="required" id="labelregemail">Required</span>
                                                <label class="label" for="regemail">Email</label>

                                                <div class="field mod">
                                                    <div class="input_wrap">
                                                        <input id="regemail" class="validation" name="regemail" type="text">
                                                    </div>
                                                </div>
                                            </fieldset>
                                            
                                            <fieldset class="last">
                                                <span class="required" id="labelregpassword">Required</span>
                                                <label class="label" for="regpassword">Password</label>

                                                <div class="field mod">
                                                    <div class="input_wrap">
                                                        <input id="regpassword" class="validation" name="regpassword" type="password">
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        
                                        <div class="button_set mod">
                                            <input name="action" value="registration" type="hidden">
                                            <input id="regsubmit" name="regsubmit" value="Register" type="submit">
                                        </div>
                                    </div>
                                </form>
        
                            </div><!-- /description -->
                
                        </div>
{% endblock %}
