{% extends "includes/base.html" %}
{% load i18n %}

{% block title %}{% trans "Terms and Conditions" %}{% endblock %}

{% block content %}
<div class="whiteboard">

	<div class="title white">
		<div>
			<h1>Terms and Conditions</h1>
		</div>
	</div>
	
	<div class="description cms"> 
	
	<div class="terms" style="text-align:justify;">
	    <p><strong>BY USING THIS SITE, YOU AGREE TO BE BOUND BY THE FOLLOWING TERMS OF USE. IF YOU DO NOT AGREE WITH THESE TERMS OF USE, DISCONTINUE ALL USE OF THIS SITE IMMEDIATELY.</strong></p>
	    
	    <p>Please carefully read the following terms of use ("Terms of Use") before using this web site (the "Site") owned by TechJobsBistro careers.</p>
	    
	    <p>In these Terms of Use, the expression "Site" refers to either www.techjobsbistro.com or to any other web site owned by TechJobsBistro careers and from which you may have been redirected.</p>
	    
	    <ol>
	        <li><strong>General Remark.</strong> This Site is for personal and non-commercial use. The entire content included in this Site, including but not limited to text, information, designs, photographs, graphics, images, illustrations, interfaces, codes, audio clips, sounds video clips, software and links to external web sites (the "Content"), is provided for informational purposes only.</li>
	        
	        <li><strong>Disclaimers and Limitation of Liability.</strong> TechJobsBistro intends for the Content on this Site to be accurate and reliable, however, this Site and the Content are provided to you "as is" and "as available" and without warranty or condition of any kind, whether express or implied. To the fullest extent permissible pursuant to applicable law, TechJobsBistro disclaims all warranties, express or implied, including, but not limited to, implied warranties or conditions of merchantability or fitness for a particular purpose, non-infringement, freedom from computer virus, and warranties arising from course of dealing or course of performance. TechJobsBistro does not represent or warrant that the functions contained in this Site will be uninterrupted or error free, that defects will be corrected or that this Site or that the server which makes the Site available are free of viruses or other harmful components.
	        <p>In no event shall TechJobsBistro be liable for any damages whatsoever, including special, indirect, incidental or consequential damages, arising out of or in connection with the use or performance of this site or any other site you may access while using this site or your use of the Content, even if advised of the possibility of such damages.</p></li>
	        
	        <li><strong>Indemnity.</strong> You acknowledge and expressly agree that use of this Site is at your sole and own risk. You agree to defend, indemnify and hold TechJobsBistro and its affiliates as well as their respective directors, officers, trustees and employees harmless from any and all liabilities, costs and expenses, including reasonable attorneys' fees, related to any violation of these Terms of Use by you or users of your account, or in any way arising out of the use of this Site, including without limitation, the placement or transmission of any information or other materials on this Site by you or users of your account.</li>
	        
	        <li><strong>Prohibited Use of this Site.</strong> You shall not use this Site in any way that would interfere with its operation nor submit any content to this Site which libels, defames, invades privacy, is obscene, pornographic, abusive or threatening, infringes intellectual property laws or violates any other laws. You shall not post, upload, publish, transmit or otherwise distribute on this Site any information or other materials that:
	        <ul>
	            <li>could constitute a criminal offence, including without limitation, any crimes relating to pornography, threats, intimidation, hate, assault, or fraud;</li>
	            <li>could defame, abuse, harass, threaten or otherwise interfere with or harm the contractual, personality, confidentiality, privacy or publicity, moral or statutory or any other rights of any person;</li>
	            <li>could infringe the intellectual property rights including without limitation any copyright, trade-mark, or patent, of any person;</li>
	            <li>could be considered as a use of this Site that is contrary to law or electronic etiquette, or which would adversely impact the use of this Site or the Internet by other users, including the posting or transmitting of information or software containing viruses or other disruptive components;</li>
	            <li>contains any distasteful or offensive material including, but not limited to, material intended for an adult audience;</li>
	            <li>contains: (i) commercial content, including without limitation, advertising, solicitation, offer to sell any goods or services,  or (ii) advertising, solicitation, offer to join any organization whatsoever, or (iii) surveys, contests, or chain letters; or</li>
	            <li>encourages, conspires, entices or promotes the occurrence of any of the prohibited conduct stipulated herein.</li>
	        </ul>
	        <p>TechJobsBistro reserves the right to remove any information that you post, upload, publish, transmit or distribute or otherwise use on this Site at any time, at its sole discretion and without prior notice.</p>
	        </li>
	        
	        <li><strong>License.</strong>  By posting, uploading or submitting any information, material or content to this Site, you automatically grant (or automatically warrant that the owner of the rights to such material or content has expressly granted) TechJobsBistro a perpetual, royalty-free, irrevocable, non-exclusive right and license throughout the world to use, reproduce, modify, adapt, create derivative works from, publish, translate, license, transmit, distribute and otherwise exploit any or all portions of such information, material or content in any manner and media and by means of any technology now known or hereafter developed. In addition, you hereby irrevocably waive all moral rights in any such information, material or content posted, uploaded or submitted by you.</li>
	        
	        <li><strong>Web Scraping/Harvesting.</strong> You may only use or reproduce the Content for your own personal and non-commercial use. The framing, scraping, data-mining, extraction or collection of the Content of this Site in any form and by any means whatsoever is strictly prohibited. Furthermore, you may not mirror any material contained on this Site.</li>
	        
	        <li>Hyperlinking to this Site. You may create a link (the "Hyperlink") to this Site provided that:
	            <ul>
	                <li>you do not replicate any of the Content of this Site;</li>
	                <li>you do not create a frame or any other bordered environment around this Site or its Content;</li>
	                <li>the Hyperlink shall not imply any endorsement of any product or services;</li>
	                <li>the website linking to this Site does not contain distasteful or offensive material including, but not limited to, material intended for an adult audience and pornographic material; and</li>
	                <li>the website linking to this Site does not contain any information, content or material that would interfere with the operation this Site nor which libels, defames, invades privacy, is obscene, pornographic, abusive or threatening, infringes intellectual property laws or violates any other laws.</li>
	            </ul>
	            <p>TechJobsBistro may withdraw your right to link to this Site at any time in its sole discretion.</p>
	        </li>
	        
	        <li><strong>External Links on this Site.</strong> Links available on this Site will allow you to link to websites not maintained or controlled by TechJobsBistro. TechJobsBistro provides these links for your convenience only and makes no endorsements, warranties or representations of any kind whatsoever regarding those other web sites and assumes no responsibility for content on third party websites. Please be aware that you link to these third party websites at your own risk.</li>
	        
	        <li><strong>Copyright.</strong> All Content published on or otherwise accessible through this Site is protected by copyright. The Content, and the copyright in the Content, are owned or controlled by TechJobsBistro or TechJobsBistro's content suppliers. You may only use or reproduce the Content for your own personal and non-commercial use. The Content may not be otherwise used, reproduced, broadcast, published or retransmitted without the prior written permission of the copyright holder. You must abide by all copyright notices, information and restrictions contained in any Content on or accessed through this Site and maintain such notices in the Content.</li>
	        
	        <li><strong>Trade-marks.</strong> techjobsbistro.com are trade-marks of TechJobsBistro in Kenya.  All other products, services and company names mentioned in the Site may be trade-marks of either TechJobsBistro or its related companies or of their respective owners. You shall not use any trade-mark displayed on the Site without the express written permission of TechJobsBistro or the relevant owner of the trade-mark.</li>
	        
	        <li><strong>Changes.</strong> TechJobsBistro reserves the right to change or remove any Content from this Site, in whole or in part, at its sole discretion, at any time, without notice. TechJobsBistro reserves the exclusive right to modify these Terms of Use at any time. Any continued use of this Site will be deemed conclusive of your acceptance of the modified Terms of Use.</li>
	        
	        <li><strong>Privacy Policy.</strong> TechJobsBistro's Privacy Policy is a binding and integral part of these Terms of Use.</li>
	        
	        <li><strong>Miscellaneous.</strong> The Terms of Use of this Site and all other documents referenced herein constitute the entire agreement between TechJobsBistro and you with respect to your use of this Site. TechJobsBistro's failure to insist upon or enforce strict performance of any provision of this agreement shall not be construed as a waiver of any provision or right. If any of these Terms of Use is determined to be void, invalid or otherwise unenforceable by a court of competent jurisdiction, such determination shall not affect the remaining provisions hereof. These Terms of Use shall be governed by and construed in accordance with the laws of Kenya. The parties hereby agree and attorn to the exclusive jurisdiction of the Courts of Kenya.</li>
	    </ol>
	</div>

	</div><!-- /description -->

</div>
{% endblock %}
