{% extends "includes/base.html" %}
{% load i18n %}

{% block title %}Job Details{% endblock %}

{% block content %}
                        <div class="listing whiteboard">
                        
                            <div class="title white">
                                <div>
                                    <h1>{{ job.job_title }}</h1>
                                </div>
                                
                                <div class="share">
                                    Viewed <strong>{{ job_views_count }} times</strong>                               
                                </div>
                                
                                <p>{% if job.post_anon %}Anonymous{% else %}{{ job.company_name }}{% endif %}</p>
                            </div>
                            
                            <div class="sub blue">                                
                                <h2>This is a <strong>{{ job.job_type }}</strong> position in <strong>{{ job.job_country }}</strong> posted on <strong>{{ job.date_posted|date:"d-M-Y" }}</strong>.</h2>
                            </div>
                            
                            <div class="description cms">
                                
								
								<h3 class="j_header">Job description</h3>
								
                                <p>{{ job.job_description|safe }}</p>
                                
                                <h3 class="j_header">Skills &amp; Requirements</h3>
																
                                <p>{{ job.job_req|safe }}</p>	

								<h3 class="j_header">Job Tags</h3>
								<div class="category">
								{% for tag in job_tags %}
									<a href="/jobs/?job_tag={{ tag }}">{{ tag }}</a>  
								{% endfor %}
								</div>
								
                            </div><!-- /description cms -->
                            
                            <div class="jobskills">
                                <div class="subtitle"><h3>Company profile</h3></div>
								
								<div class="form_apply">
                                    <p>{{ job.company_profile|safe }}</p>
                                    <div class="clear"></div>
									
									<p><strong>Website:</strong> <a href="http://{{ job.company_url }}" target="_blank">{{ job.company_url }}</a></p>
                                </div>
                            </div>
                            
                            <div class="apply">
                                <div class="subtitle"><h3>How to Apply</h3></div>
                                
                                <div class="form_apply">
                                    <p>{{ job.apply_information|safe }}</p><br/><br/>                                    
                                    
                                    <p>Application deadline: <strong>{{ job.job_deadline }}</strong></p><br/><br/>
									
									<p>Application email: <strong>{{ job.apply_email }}</strong></p>
                                </div>
                            </div>
                
                        </div>

{% endblock %}
