{% extends "includes/base.html" %}
{% load i18n %}

{% block title %}{% trans "New Job Post" %}{% endblock %}

{% block content %}
            
                        <!--<div class="message green" id="success">
                            <div class="push">
                                <h3>Job listing successful</h3>
                                <p>
                                    <a href="#"><strong>Manage your Listings</strong></a> or <a href="#">Logout</a>
                                </p>
                            </div>
                        </div>-->
                        
                        <div class="post whiteboard">
                        
                        <script type="text/javascript">
                        var skillsCounter = 0;
                        jQuery(document).ready(function () {
                            jQuery("#company_name").css('color', '#CCCCCC');
                            jQuery("#companyLocation").css('color', '#CCCCCC');
                            jQuery.validator.addMethod("company_name", function (value, element) {
                                return this.optional(element) || value != "e.g. Acme Inc." || value == "Anonymous";
                            }, "Please specify company name");
                            jQuery.validator.addMethod("comploc", function (value, element) {
                                return this.optional(element) || value != "e.g. Nairobi, Kenya" || value == "Anywhere";
                            }, "Please specify company location");
                            jQuery("#post").validate({
                                rules:{
                                    post_title:'required',
                                    job_desc:'required',
                                    company_name:{
                                        required:function (element) {
                                            if (jQuery('input[name=anon]').is(':checked')) {
                                                return false;
                                            } else {
                                                return true;
                                            }
                                        },
                                        company_name:true
                                    },
                                    location_value:{
                                        required:function (element) {
                                            if (jQuery('input[name=anywere]').is(':checked')) {
                                                return false;
                                            } else {
                                                return true;
                                            }
                                        },
                                        comploc:true
                                    },
                                    how_to_apply_value:'required',
                                    application_email:{
                                        required:function (element) {
                                            return jQuery('#enableApply').is(':checked');
                                        },
                                        email:true
                                    },
                                    application_email_message:{
                                        required:function (element) {
                                            return jQuery('#enableApply').is(':checked');
                                        }
                                    },
                                    expdate:{
                                        required:function (element) {
                                            if (jQuery('input[name=noexpire]').is(':checked')) {
                                                return false;
                                            } else {
                                                return true;
                                            }
                                        },
                                        date:true
                                    },
                                skills_value_1: {required: function(element) {
                                    var tested = 0;
                                    jQuery(".skills").each(function(){
                                    if(jQuery(this).val() != "") tested++;
                                    });
                                    if(tested == 0)
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("no");
                                        return true;
                                    }
                                    else
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("yes");
                                        return false;
                                    }
                                    }},
                                    skills_value_2: {required: function(element) {
                                    var tested = 0;
                                    jQuery(".skills").each(function(){
                                    if(jQuery(this).val() != "") tested++;
                                    });
                                    if(tested == 0)
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("no");
                                        return true;
                                    }
                                    else
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("yes");
                                        return false;
                                    }
                                    }},
                                    skills_value_3: {required: function(element) {
                                    var tested = 0;
                                    jQuery(".skills").each(function(){
                                    if(jQuery(this).val() != "") tested++;
                                    });
                                    if(tested == 0)
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("no");
                                        return true;
                                    }
                                    else
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("yes");
                                        return false;
                                    }
                                    }},
                                    skills_value_4: {required: function(element) {
                                    var tested = 0;
                                    jQuery(".skills").each(function(){
                                    if(jQuery(this).val() != "") tested++;
                                    });
                                    if(tested == 0)
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("no");
                                        return true;
                                    }
                                    else
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("yes");
                                        return false;
                                    }
                                    }},
                                    skills_value_5: {required: function(element) {
                                    var tested = 0;
                                    jQuery(".skills").each(function(){
                                    if(jQuery(this).val() != "") tested++;
                                    });
                                    if(tested == 0)
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("no");
                                        return true;
                                    }
                                    else
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("yes");
                                        return false;
                                    }
                                    }},
                                    skills_value_6: {required: function(element) {
                                    var tested = 0;
                                    jQuery(".skills").each(function(){
                                    if(jQuery(this).val() != "") tested++;
                                    });
                                    if(tested == 0)
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("no");
                                        return true;
                                    }
                                    else
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("yes");
                                        return false;
                                    }
                                    }},
                                    skills_value_7: {required: function(element) {
                                    var tested = 0;
                                    jQuery(".skills").each(function(){
                                    if(jQuery(this).val() != "") tested++;
                                    });
                                    if(tested == 0)
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("no");
                                        return true;
                                    }
                                    else
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("yes");
                                        return false;
                                    }
                                    }},
                                    skills_value_8: {required: function(element) {
                                    var tested = 0;
                                    jQuery(".skills").each(function(){
                                    if(jQuery(this).val() != "") tested++;
                                    });
                                    if(tested == 0)
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("no");
                                        return true;
                                    }
                                    else
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("yes");
                                        return false;
                                    }
                                    }},
                                    skills_value_9: {required: function(element) {
                                    var tested = 0;
                                    jQuery(".skills").each(function(){
                                    if(jQuery(this).val() != "") tested++;
                                    });
                                    if(tested == 0)
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("no");
                                        return true;
                                    }
                                    else
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("yes");
                                        return false;
                                    }
                                    }},
                                    skills_value_10: {required: function(element) {
                                    var tested = 0;
                                    jQuery(".skills").each(function(){
                                    if(jQuery(this).val() != "") tested++;
                                    });
                                    if(tested == 0)
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("no");
                                        return true;
                                    }
                                    else
                                    {
                                        jQuery("#labelskills_value").removeClass("yes").removeClass("no").addClass("yes");
                                        return false;
                                    }
                                    }},
                                                },
                                errorPlacement:function (error, element) {
                                    var er = element.attr("name");
                                    jQuery('#label' + er).removeClass('yes');
                                    jQuery('#label' + er).addClass('no');
                                }
                            });
                            jQuery('.validation').blur(function () {
                                if (jQuery(this).valid()) {
                                    var nm = jQuery(this).attr("name");
                                    jQuery('#label' + nm).removeClass('no');
                                    jQuery('#label' + nm).addClass('yes');
                                }
                            });
                            var draftMSG = jQuery.cookie("draftMSG");
                            if (draftMSG == "yes") {
                                $.cookie("draftMSG", "no", { expires:-10 });
                                alert("Thanks for submitting your job. It will be reviewed shortly.");
                            }


                        });
                        </script>
                        
                            <div class="title white">
                                <div>
                                    <h1>Post a Job</h1>
                                </div>
                                <p>Please fill in all the fields marked &lsquo;Required&rsquo;.</p>
                            </div> 
                            
                            {% if form.errors %}
                            <div class="message red">
                                <div class="push">
                                <h3>{% trans "Please correct the following errors" %}</h3>
                                <p>
                                    {{ form.errors }}        
                                </p>
                                </div>
                            </div>
                            {% endif %}                 
                            
                            <div class="description cms"> 
                            
                                <form method="post" action="." id="post" name="post">
                                {% csrf_token %}
                                
                                    <input type="hidden" value="postajob" name="action">
                                    <input type="hidden" value="741" name="user_id">
                                    <input type="hidden" value="" name="txn_id">

                                    <div class="form_post">
                                                                                
                                        <div class="fieldset_set">
                                            <fieldset class="field_position first">
                                                <span class="required yes" id="labelusername">Required</span>
                                                <label class="label">Position</label>
                                                
                                                <div class="field mod">
                                                    <div class="input_wrap">{{ form.job_type }}</div>
                                                </div>
                                            </fieldset> 

                                            <fieldset class="field_location last">
                                                <span class="required" id="labellocation_value">Required</span>
                                                <label for="location_value" class="label">Job Location</label>
                                                <div class="field mod">
                                                    <div class="input_wrap">{{ form.job_country }}</div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        
                                        <div class="fieldset_set">
                                            <fieldset class="first">
                                                <span class="required" id="labelpost_title">Required</span>
                                                <label class="label" for="title">Job Title</label>
                                                
                                                <div class="field mod">
                                                    <div class="input_wrap">{{ form.job_title }}</div>
                                                </div>
                                            </fieldset> 
                                            
                                            <fieldset class="field_description">
                                                <span class="required" id="labelcontent">Required</span>
                                                <label for="desc" class="label">
                                                    Job description <span class="info">Fill in as much detail as you can about the position, outlining the responsibilities.</span>
                                                </label>
                                                <div class="field mod">
                                                    <div class="input_wrap">{{ form.job_description }}</div>
                                                </div>
                                            </fieldset>
                                            
                                            <fieldset class="field_description last">
                                                <span class="required" id="labelcontent">Required</span>
                                                <label for="desc" class="label">
                                                    Skills &amp; requirements <span class="info">Fill in as much detail as you can about the position, outlining the skills and requirements needed.</span>
                                                </label>
                                                <div class="field mod">
                                                    <div class="input_wrap">{{ form.job_req }}</div>
                                                </div>
                                            </fieldset>
                                                 
                                        </div>
                                        
                                        
                                        <div class="fieldset_set">
                                            <fieldset class="field_skills first last">
                                                <span class="required" id="labelskills_value">Required</span>
                                                <label for="skills" class="label">
                                                    Skills/Tags <span class="info">These core technologies (eg. Java) or more abstract roles (eg. DBA) will assist applicants in finding your listing. </span>
                                                </label>

                                                <div class="field mod">
                                                    <ul class="skills">
                                                        <li>
                                                            <div class="input_wrap">
                                                                <input type="text" class="validation skills" name="skills_value_1" id="skill1">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input_wrap">
                                                                <input type="text" class="validation skills" name="skills_value_2" id="skill2">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="input_wrap">
                                                                <input type="text" class="validation skills" name="skills_value_3" id="skill3">
                                                            </div>
                                                        </li>
                                                        <li style="display: none;">
                                                            <div class="input_wrap">
                                                                <input type="text" class="hidden skills" name="skills_value_4" id="skill4">
                                                            </div>
                                                        </li>
                                                        <li style="display: none;">
                                                            <div class="input_wrap">
                                                                <input type="text" class="hidden skills" name="skills_value_5" id="skill5">
                                                            </div>
                                                        </li>
                                                        <li style="display: none;">
                                                            <div class="input_wrap">
                                                                <input type="text" class="hidden skills" name="skills_value_6" id="skill6">
                                                            </div>
                                                        </li>
                                                        <li style="display: none;">
                                                            <div class="input_wrap">
                                                                <input type="text" class="hidden skills" name="skills_value_7" id="skill7">
                                                            </div>
                                                        </li>
                                                        <li style="display: none;">
                                                            <div class="input_wrap">
                                                                <input type="text" class="hidden skills" name="skills_value_8" id="skill8">
                                                            </div>
                                                        </li>
                                                        <li style="display: none;">
                                                            <div class="input_wrap">
                                                                <input type="text" class="hidden skills" name="skills_value_9" id="skill9">
                                                            </div>
                                                        </li>
                                                        <li style="display: none;">
                                                            <div class="input_wrap">
                                                                <input type="text" class="hidden skills" name="skills_value_10" id="skill10">
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <p><a name="addskill" id="addskill" href="#">[+] Add another</a></p>
                                                </div>
                                            </fieldset>
                                        </div>
                                        
                                        
                                        <div class="fieldset_set">
                                            <fieldset class="field_company first">
                                                <span class="required" id="labelcompany_name">Required</span>
                                                <label for="company_name" class="label">Company Name</label>
                                                <div class="field mod">
                                                    <div class="input_wrap">{{ form.company_name }}</div>
                                                    
                                                    <label class="check">
                                                        <span class="input_wrap">
                                                            {{ form.post_anon}}
                                                        </span>
                                                        Post Anonymously
                                                    </label>
                                                </div>
                                            </fieldset>
                                            
                                            <fieldset class="field_url">
                                                <label for="location_value" class="label">Company URL</label>
                                                <div class="field mod">
                                                    <div class="input_wrap">{{ form.company_url }}</div>                                                    
                                                </div>
                                            </fieldset>
                                            
                                            <fieldset class="field_description last">
                                                <label for="salary_description" class="label">
                                                    About the company<span class="info">Fill in as much detail as you can about your company.</span>
                                                </label>
                                                <div class="field mod">
                                                    <div class="input_wrap">{{ form.company_profile }}</div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        
                                        
                                        <div class="fieldset_set">
                                            <fieldset class="field_apply first">
                                                <span class="required" id="labelhow_to_apply_value">Required</span>
                                                <label for="apply" class="label">
                                                    How to Apply <span class="info">Tell applicants how to apply for the listed position.</span></label>
                                                <div class="field mod">
                                                    <div class="input_wrap">{{ form.apply_information }}</div>
                                                    <div class="clear"></div>
                                                    
                                                </div>
                                            </fieldset>
                                            
                                            <fieldset class="onPageApplication">
                                                <span class="required" id="labelexpdate">Required</span>
                                                <label for="deadline_date" class="label">
                                                    Deadline Date<span class="info">All applications should be sent by this date.</span>
                                                </label>
                                                <div class="field mod">
                                                    <div class="input_wrap">{{ form.job_deadline }}</div>
                                                </div>
                                            </fieldset>
                                            
                                            <fieldset class="onPageApplication last">
                                                <span class="required" id="labelapplication_email">Required</span>
                                                <label for="apply_email" class="label">
                                                    Email Address<span class="info">The address all job applications will be sent to.</span>
                                                </label>
                                                <div id="email" class="field mod">
                                                    <div class="input_wrap">{{ form.apply_email }}</div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        
                                        
                                        <div class="cap">
                                            <div class="button_set">
                                                <input type="submit" class="button blue large" value="Submit Listing" name="jobsubmit" id="jobsubmit">
                                            </div>
                                        </div>
                                        
                                    </div>
                                </form>
                                
        
                            </div><!-- /description -->
                
                        </div>
{% endblock %}
