{% extends "includes/base.html" %}
{% load i18n %}

{% block title %}{% trans "Control Panel" %}{% endblock %}

{% block content %}
                        <div class="whiteboard">
                        
                            <div class="title white">
                                <div>
                                    <h1>Jobs</h1>
                                </div>
                            </div>  
                            
                                                                          
                            <div class="description cms">
                                
                                {% if jobs %}
                                
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Job Title</th>
                                            <th>Date Posted</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for job in jobs %}
                                        <tr>
                                            <td><a href="/user/jobs/view/{{ job.id }}">{{ job.job_title }}</a></td>
                                            <td>{{ job.date_posted|date:"d-M-Y" }}</td>
                                            <td>{% if job.approved %}Approved{% else %}Pending{% endif %}</td>
                                            <td><a href="/user/jobs/edit/{{ job.id }}">Edit</a> | <a href="/user/jobs/delete/{{ job.id }}" class="confirm">Delete</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                
                                {% else %}
                                No jobs found
                                {% endif %}
                                
                            </div><!-- /description -->
                
                        </div>
{% endblock %}
